# Author: crypt0rr - https://github.com/crypt0rr/
# Credits to @singe for digits rules and https://github.com/sensepost/common-substr

big="scripts/rules/1big.rule"
d3ad0ne="scripts/rules/d3ad0ne.rule"
d3adhob0="scripts/rules/d3adhob0.rule"
digits1="scripts/rules/digits1.rule"
digits2="scripts/rules/digits2.rule"
digits3="scripts/rules/digits3.rule"
dive="scripts/rules/dive.rule"
fbfull="scripts/rules/facebook-firstnames-capital.rule"
fbtop="scripts/rules/facebook-firstnames-capital-top.rule"
fordyv1="scripts/rules/fordyv1.rule" # Credits to Fordy
generated2="scripts/rules/generated2.rule"
generated3="scripts/rules/generated3.rule"
hob064="scripts/rules/hob064.rule"
huge="scripts/rules/huge.rule"
leetspeak="scripts/rules/leetspeak.rule"
NSAKEYv2="scripts/rules/NSAKEY.v2.dive.rule"
ORTRTA="scripts/rules/OneRuleToRuleThemAll.rule"
ORTRTS="scripts/rules/OneRuleToRuleThemStill.rule"
OUTD="scripts/rules/OptimizedUpToDate.rule"
pantag="scripts/rules/pantagrule.popular.rule"
passwordpro="scripts/rules/passwordspro.rule"
robotmyfavorite="scripts/rules/Robot_MyFavorite.rule"
rockyou30000="scripts/rules/rockyou-30000.rule"
rule3="scripts/rules/3.rule"
stacking58="scripts/rules/stacking58.rule"
techtrip2="scripts/rules/techtrip_2.rule"
tenKrules="scripts/rules/10krules.rule"
toggles1="scripts/rules/toggles1.rule"
toggles2="scripts/rules/toggles2.rule"
toprules2020="scripts/rules/toprules2020.rule"
TOXIC10k="scripts/rules/TOXIC-10krules.rule"
TOXICSP="scripts/rules/T0XlC-insert_space_and_special_0_F.rule"
williamsuper="scripts/rules/williamsuper.rule"